body {
	background-color:#FFF;
}

#Neighbor {
	background-color:#77F;
	width:100px;
}

#Increase {
	background-color:#21F;
	width:100px;
}

#canvas {

	background-color:#808080;
}


